NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/letsfixcampus
JWT_SECRET=replace_with_a_strong_secret
JWT_EXPIRE=7d
COLLEGE_EMAIL_DOMAIN=@grietcollege.com
UPLOAD_METHOD=local
FRONTEND_URL=http://localhost:5173
POLL_DAY=6
POLL_START_HOUR=0
